<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세</title>
</head>
<body>

<h1>게시글 상세</h1>

<table border="1">
    <tr>
        <th>번호</th>
        <td th:text="${article.id}"></td>
    </tr>
    <tr>
        <th>제목</th>
        <td th:text="${article.title}"></td>
    </tr>
    <tr>
        <th>내용</th>
        <td th:text="${article.content}"></td>
    </tr>
</table>
<a th:href="@{/article/update/{id}(id=${article.id})}">
    <button>수정</button>
</a>

<form th:action="@{/article/delete/{id}(id=${article.id})}" method="post">
    <button type="submit">삭제</button>
</form>
<a href="/article/list">
    <button>목록</button>
</a>

</body>
</html>